body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
p {
    font-size: 20px;
}

li {
    list-style: none;
    margin-right: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex; 
}
a {
    text-decoration: none;
    color: black;
}
.titular {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 60px;
    margin: 0;
}
h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

a {
    font-size: 14px;
    background: #5cb8ff;
    padding: 20px 30px 20px 30px;
    color: white;
}

header {
    background: url(fondoo.jpg);
    height: 100vh;
    background-size: cover;

}
.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;

}


h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor-parrafo-y-boton {
    width: 42%;
}

.contenedor-parrafo-y-boton p {
    font-size: 20px;

}

.video {
    width: 500%;
    margin: 0px auto;
    
}
